@keyframes fadein {
	0%   {opacity: 0;}
	100% {opacity: 0.5;}
 }

#fatabs {
	width: 60px;
	height: 60px;
	margin-bottom: -60px;
	left: calc(50% - 30px);

	cursor: pointer;
	position: relative;
	z-index: 2147483647;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-image: url("images/download.png");
	opacity: 0.5;
	transition: 0.1s;
	animation: fadein 0.1s;
}

#fatabs.hide {
	opacity: 0;
}

#fatabs:hover {
	opacity: 1;
}

#fatabs:active {
	filter: hue-rotate(45deg);
}

a > img.fabui_thumbfav {
	width: 32px !important;
	height: 32px !important;
	padding: 0 !important;
	left: auto !important;
	right: 0;
	opacity: 0.5;
}

a > img.fabui_removesub {
	visibility: hidden;
}
