@keyframes fadein {
	0%   {opacity: 0;}
	100% {opacity: 0.5;}
 }

#fatabs {
	width: 60px !important;
	height: 60px !important;
	left: calc(50% - 30px);
	z-index: 2147483647;
	position: absolute;
	cursor: pointer;

	animation: fadein 0.1s;
	transition: 0.1s;

	filter: hue-rotate(240deg);
	opacity: 0.5;
}

#fatabs.hide {
	opacity: 0;
}

#fatabs:hover {
	opacity: 1;
}

*[data-fav] #fatabs {
	filter: hue-rotate(120deg);
}

*[data-fav='1'] #fatabs {
	filter: hue-rotate(0deg);
}
