html, body {
	background: black;
	color: white;
	width: 350px;
}

a {
	margin: 10px;
	display: inline-block;
	color: cyan;
}

.fa {
	margin: 5px;
}

.fa-header {
	display: flex;
	flex-direction: row;
	border-bottom: 1px solid rgba(255, 255, 255, 0.15);
	padding: 16px;
}

.title {
	font-size: 1.385em;
	font-weight: lighter;
	width: 100%;
}

.ext-name {
	float: left;
}

.ext-version {
	float: right;
}
